*{
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;    /* Center vertically */
}

/* Landing page BEGINNING */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
   /*  background-color: red; */
}

.outter {
    
    border: 1px lightgray solid;
    border-radius: 1rem;
    background-color: white;
    padding: 20px; 
    
}
#responseMessage{
    text-align: center;
    background-color: lightgray;
    border: 1px solid lightgray;
    border-radius: 1rem;
    width: 34rem;
    font-size: 1rem;
    margin-bottom:2rem  ;
}

.form-item{
    margin:30px 0 50px 0px ;
    display: flex;
    flex-direction: column;
}

.form-item-input{
    width: 32rem;
    line-height: 2rem;
    font-size: 1.25rem;
    border: 1px lightgray solid;
    border-radius: 1rem;
    padding: 8px 4px 8px 4px;

}
.form-item-label{
    padding: 0 0 20px 0;
    font-size: 1.25rem;
}
.form-item-button{
    width: 100%;
    height: 3rem;
    border: 1px solid #793D8C;
    border-radius: 2rem;
    background-color: #793D8C;
    color:white;
    font-size: 1.25rem;
}
.fg-pass{
    margin-top: 24px;
    font-size: 1.15rem;
}
